.header {
    width: 100%;
    height: 233px;
    background: #294c71 url(../../assets/images/fundo.png);
    position: relative;
}

.header__logo {
    width: 58%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* background: orange; */
    
   
}

.header__logo--text {
    margin-top: 20px;
}

.headermenu {
    width: 50%;
    margin: 0 auto;
    /* background: green; */
    float: left;
    position: absolute;
    bottom:62px;
    left: 21.5%;
    padding: 15px 0 15px 0;
   
      
}

.headermenu__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    
   
}

.headermenu__menu li{
    float: left;
     
}

.headermenu__menu li a {
    color: #e9dadb;
    text-decoration: none;  
    padding: 15px 20px;
    background: #b6153a;     

}
.headermenu__menu li a:hover {
    text-decoration: none;       
    background: #e01d41;
    color: #ffe1f4;
}