.header {
    width: 100%;
    height: 233px;
    background: #294c71 url(../../assets/images/fundo.png) repeat-x;
    position: relative;
    border: 1px solid green;
    margin-bottom: 10px;
}

.header__logo {
    width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    
   
}

.header__logo--text {
    margin-top: 20px;
}

.headermenu {
    width: 50%;
    margin: 0 auto;
    /* background: green; */
    float: left;
    position: absolute;
    bottom:62px;
    left: 22.5%;
    padding: 15px 0 15px 0;
   
      
}

.headermenu__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    
   
}

.headermenu__menu li{
    float: left;
    /* background: #b10333; */
     
}

.headermenu__menu li a {
    font-size: 0.9em;
    color: #fff;
    text-decoration: none;  
    padding: 10px 20px;
    line-height: 2.1em;
    background: #b10333 url(../../assets/images/divisor.png) no-repeat left center;     


}

.headermenu ul .headermenu__menunot a{
    background: #b10333;
}
.headermenu__menu li a:hover {
    text-decoration: none;       
    background: #e01d41;
    color: #69001d;
}

body.home .headermenu__menu a#home,
body.brasil .headermenu__menu a#brasil,
body.internacional .headermenu__menu a#internacional,
body.economia .headermenu__menu a#economia,
body.saude .headermenu__menu a#saude,
body.ciencia .headermenu__menu a#ciencia,
body.fotos .headermenu__menu a#fotos {
    color:#fff;
    background: #de003e;
    cursor: text;
    
}